Hang on to your butts. <br/>
Give me the name of a Candidate/Committee/Pac and we might be able to make a map <br/>
If it breaks try another search name. <br/>
If it breaks again it's probably just broken. <br/>

<form action="/search" method="post">
  <input type="text" name="candidate">
  <input type="submit">
</form>
